<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Страна, которую я посетил(а) и мои впечатления ...</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="countryForm" class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput
               [(ngModel)]="visitedCountry.countryName"
               [matAutocomplete]="auto"
               formControlName="countryName"
               type="text"
               placeholder="Название страны"
               required>
        <div *ngIf="countryForm.controls['countryName'].errors && !countryForm.controls['countryName'].pristine" class="error-msg">
          <mat-error [hidden]="!countryForm.controls['countryName'].required">country name is required.</mat-error>
        </div>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let country of filteredCountries | async" [value]="country">
            <span>{{ country }}</span> |
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput
                  [(ngModel)]="visitedCountry.visitedCities"
                  formControlName="visitedCities"
                  type="text"
                  placeholder="Посещенные города" required></textarea>
        <div *ngIf="countryForm.controls['visitedCities'].errors && !countryForm.controls['visitedCities'].pristine" class="error-msg">
          <mat-error [hidden]="!countryForm.controls['visitedCities'].required">visited cities are required.</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <textarea matInput
                  [(ngModel)]="visitedCountry.descripion"
                  formControlName="descripion"
                  type="text"
                  placeholder="Ваш отзыв о стране"
                  matTextareaAutosize
                  matAutosizeMinRows="2"
                  matAutosizeMaxRows="7"></textarea>
        <div *ngIf="countryForm.controls['descripion'].errors && !countryForm.controls['descripion'].pristine" class="error-msg">
          <mat-error [hidden]="!countryForm.controls['descripion'].required">descripion is required.</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <input matInput
               [(ngModel)]="visitedCountry.assessment"
               formControlName="assessment"
               type="number"
               placeholder="Ваша оценка страны"
               required>
        <div *ngIf="countryForm.controls['assessment'].errors && !countryForm.controls['assessment'].pristine" class="error-msg">
          <mat-error [hidden]="!countryForm.controls['assessment'].required">assessment is required.</mat-error>
        </div>
      </mat-form-field>
      <button mat-button
              type="submit"
              [disabled]="countryForm.pristine || countryForm.invalid"
              class="mat-raised mat-primary">Submit</button>
    </form>
  </mat-card-content>
</mat-card>
