<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>
    Welcome to {{ title }}!
  </h1>

  <nav class="main-nav">
    <a routerLink="/registration-page" routerLinkActive="active">Registration page</a>
    <a routerLink="/login-page" routerLinkActive="active">Login page</a>
    <a routerLink="/comments" routerLinkActive="active">Comments</a>
    <a routerLink="/home/visited-country-form" routerLinkActive="active">Visited Country form</a>
    <a routerLink="/home/visited-countries" routerLinkActive="active">Visited Countries</a>

  </nav>
<router-outlet></router-outlet>
</div>
