.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.main-nav a {
  color: black;
  border: solid 5px #3f51b5;
  padding-bottom: 10px;
  border-radius: 4px;
  background-color: #3f51b5;
  color: white;
}

