<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form-signin">
    <h2 class="form-signin-heading">Please sign up</h2>
    <label for="surename" class="sr-only">Surename</label>
    <input formControlName="surename"
           type="text"
           id="surename"
           class="form-control"
           placeholder="Фамилия"
           required autofocus>
    <p class="help-block" *ngIf="!signupForm.get('surename').valid && signupForm.get('surename').touched">Пожалуйста
      введите фамилию.</p>
    <label for="name" class="sr-only">Name</label>
    <input formControlName="name"
           type="text"
           id="name"
           class="form-control"
           placeholder="Имя"
           required>
    <p class="help-block" *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched">Пожалуйста введите
      имя.</p>
    <label for="patronymic" class="sr-only">patronymic</label>
    <input formControlName="patronymic"
           type="text"
           id="patronymic"
           class="form-control"
           placeholder="Отчество"
           required>
    <p class="help-block" *ngIf="!signupForm.get('patronymic').valid && signupForm.get('patronymic').touched">Пожалуйста
      введите отчество.</p>
    <label for="birthDate" class="sr-only">Birth Date</label>
    <input formControlName="birthDate"
           type="date"
           id="birthDate"
           class="form-control"
           required>
    <label for="city" class="sr-only">City</label>
    <input formControlName="city"
           type="text"
           id="city"
           placeholder="city"
           class="form-control"
           required>
    <label for="email" class="sr-only">Login</label>
    <input formControlName="email"
           type="email"
           id="email"
           class="form-control"
           placeholder="Почтовый адрес"
           required autofocus>
    <p class="help-block" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">Пожалуйста введите
      почтовый адрес.</p>
    <label for="inputPassword" class="sr-only">Password</label>
    <input formControlName="password"
           type="password"
           id="inputPassword"
           class="form-control"
           placeholder="Password"
           required>
    <p class="help-block" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">Please enter
      password.</p>
    <input formControlName="confirm"
           type="password"
           id="confirmPassword"
           class="form-control"
           placeholder="Confirm password"
           required>
    <p class="help-block" *ngIf="!signupForm.get('confirm').valid && signupForm.get('confirm').touched">Please confirm
      password.</p>
    <p class="alert alert-danger" *ngIf="!passwordsAreSame">AAAA! They aren't same!!!</p>
    <button type="submit"
            [disabled]="signupForm.pristine || signupForm.invalid"
            class="btn btn-lg btn-primary btn-block">SignIn
    </button>
    <a routerLink="/login-page">Already have an account?</a>
  </form>
</div>
