<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-toolbar color="primary">

  <mat-toolbar-row>
    <span>
      <button mat-button>
            <mat-icon class="material-icons">home</mat-icon>
      </button>
      <button mat-button>Registration</button>
    </span>
    <span class="example-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>

<!--<app-reg-card></app-reg-card>-->
<app-registration-page></app-registration-page>
<!--<nav>-->
<!--<a routerLink="/registration-page">Registration</a>-->
<!--<a routerLink="/test-page">Test page</a>-->

<!--</nav>-->
<!--<router-outlet></router-outlet>-->
