.comment__button {
  color: red;
}
mat-card {
  max-width: 300px;
  margin-left: 200px;

}

h1 {
  color: #b2ff59;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}



