<mat-card class="comment">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title class="comment__username">{{comment.username}}</mat-card-title>
    <mat-card-subtitle class="comment__time">{{comment.time}}</mat-card-subtitle>
  </mat-card-header>
  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>

    <div class="comment__input" *ngIf="isInput">
      <mat-form-field>
              <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                        matAutosizeMaxRows="50"
                        [(ngModel)]="comment.username"
                        placeholder="Username"></textarea>
      </mat-form-field>
      <mat-form-field>
      <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="50"
                [(ngModel)]="comment.time"
                placeholder="Time"></textarea>
      </mat-form-field>
      <mat-form-field>
              <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
                        matAutosizeMaxRows="50"
                        [(ngModel)]="comment.country"
                        placeholder="Country"></textarea>

      </mat-form-field>
      <mat-form-field>
    <textarea matInput matTextareaAutosize matAutosizeMinRows="2"
              matAutosizeMaxRows="50"
              [(ngModel)]="comment.textForComment"
              placeholder="Leave a comment here!"></textarea>

      </mat-form-field>
    </div>

    <p *ngIf="!isInput">{{comment.textForComment}}</p>
  </mat-card-content>
  <mat-card-actions class="comment__button">

    <button mat-button (click)="submit(user)">SHARE</button>

  </mat-card-actions>
</mat-card>
